/* Give your page a fun background color */
body{
    background-color: aqua;
    
    
    
    
    
}
/* Make the header and footer a different color from the background */
header{
    background-color: azure;
}
footer{
    background-color: peachpuff;
    text-align: center;
    position: relative;
    bottom: 0;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color:  palevioletred;
    font-style: italic;
    font-size: larger;
    
}
/* Put a border around your image */

/* Change the font-family of your list */