/* Give your page a fun background color */
body{
    background-color: aqua;
    margin-left:   50px;
    margin-right: 50px;
    margin-top: 125px;
    margin bottom: 125px;     
    text-align: center;
   
    
    
}
/* Make the header and footer a different color from the background */
header{
    background-color: azure;
    position: absolute;
    top:    0;
    left:   0;
    width:  100%;
    height: -50%;
    
}
footer{
    background-color: peachpuff;
    position: absolute;
    bottom: 0;
    left:   0;
    width: 100%;
    text-align: center;
    
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color:  palevioletred;
    font-style: italic;
    font-size: larger;

    
}
/* Put a border around your image */
img{ 
    border: 25px solid blueviolet;
    text-align: center;
  
}
/* Change the font-family of your list */
ul{
   
}